<nav class="navbar navbar-light bg-dark">
 <div class="container-fluid">
    <a class="navbar-brand"><h1>Search your favorite Artist</h1></a>
    <form method="GET" action="/artist-search">
    <div class="mb-3">
     <label for="exampleInputDescription1" class="form-label">Artist</label>
     <input name="artist" type="text" class="form-control" id="exampleInputDescription1">
    </div>
   <button type="submit" class="btn btn-primary">Search for an Artist</button>
   </form>
 </div>
</nav>